{% extends "base.html" %}

{% block title %}Events Calendar - IUB Chinese Calligraphy Club (3C) - Indiana University Bloomington{% endblock %}
{% block description %}Clanedar of events lined up at IUB Chinese Calligraphy Club (3C).{% endblock %}

{% block content %}
<div class="centerContainer">
    <h1 class="sectionTitle">Calendar of events</h1>
    <br />
    <iframe src="https://www.google.com/calendar/embed?src=iubccc%40gmail.com&ctz=America/New_York" style="border: 0" width="960" height="600" frameborder="0" scrolling="no"></iframe>
</div>
{% endblock %}
