{% extends "base.html" %}

{% block title %}Contact Us -  IUB Chinese Calligraphy Club (3C) - Indiana University Bloomington{% endblock %}
{% block description %}Contact details for IUB Chinese Calligraphy Club (3C) at Indiana University Bloomington{% endblock %}

{% block content %}
<div class="centerContainer">
    <h1 class="sectionTitle">Contact Us</h1>
    <p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3093.180708439374!2d-86.5097814!3d39.17061239999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886c66a4b2daa079%3A0xfc5905e534f53157!2sCedar+Hall%2C+Indiana+University%2C+445+N+Union+St%2C+Bloomington%2C+IN+47406!5e0!3m2!1sen!2sus!4v1429335676732" width="960" height="300" frameborder="0" style="border:0"></iframe>
    </p>
    <p>
	<strong>Our mailing address:</strong><br />
	C112, Cedar Hall,<br />
	445 N Union St,<br />
	Bloomington, IN 47406
    </p>
    <p>
	<strong>Email:</strong> iub3c@indiana.edu<br />
	<strong>Phone:</strong> +1 (812) 369-3142
    </p>
</div>
{% endblock %}
