{% extends "base.html" %}

{% block title %}Events - IUB Chinese Calligraphy Club (3C) - Indiana University Bloomington{% endblock %}
{% block description %}Events &amp; workshops organized by the IUB Chinese Calligraphy Club (3C).{% endblock %}

{% block content %}
<div class="centerContainer">
    <h1 class="sectionTitle">Events</h1>
    <p>Each semester 3C presents at least one event for members to learn about Chinese culture. Typically, in the 
fall semester, the event is held to celebrate the Mid-Autumn Festival. In the spring semester, the event is held 
to welcome the spring season. During the event, members will be able to enjoy varies traditional Chinese activities 
such as tea art, paper-cutting and bamboo dance. Traditional Chinese performance will also be presented. Besides, 
3C also participates in events such as Chinese table and Lotus Blossoms World Bazaar.</p>

    <h1 class="sectionTitle">Workshops</h1>
    <p>Chinese Calligraphy Club (3C) IUB will have calligraphy workshop every week and hold in-club calligraphy 
competition per semester. All IU students and any calligraphy scripts are welcomed. Join us and have fun.</p>

    <p>In Spring 2015, Chinese Calligraphy Club continues to present free Calligraphy Workshop to you. Our mentors 
will always be with us and all skill level are welcome! Brush pens and papers are available here.</p>

    <h1 class="sectionTitle">Workshop Time &amp; Location</h1>
    <p>Every <strong>Friday 3:00 PM - 5:00 PM</strong> during the Spring 2015 semester<br />
    Location: <strong>Union Street Cedar Hall Room C112</strong><br />
    (The location has changed to the second floor. Please make a note of this.)</p>

    <p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3093.1811658726197!2d-86.50977499999998!3d39.170601999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886c66a4ca76ec5b%3A0xfcf5292c736ce538!2sCedar+Hall+(Union+Street+Center)!5e0!3m2!1sen!2sus!4v1427723033139" width="960" height="300" frameborder="0" style="border:0"></iframe>
    </p>
</div>
{% endblock %}
