{% extends "base.html" %}

{% block title %}Register for a workshop - IUB Chinese Calligraphy Club (3C) - Indiana University Bloomington{% endblock %}
{% block description %}Register for events and workshops conducted by the IUB Chinese Calligraphy Club (3C).{% endblock %}

{% block content %}
<div class="centerContainer">
    <h1 class="sectionTitle">Register</h1>
    <p>Checkout the events <a href="{% url 'calendar' %}" title="Calendar" target="_blank">calendar</a> to see what's lined up next.</p>
    <p>{ Registration form goes here }</p>
</div>
{% endblock %}
