{% load staticfiles %}
<!--
Project: IUB3C Website
Author: Yugandhar Veeramachaneni (hello@yugandhar.me)
-->
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        
        <!-- BEGIN INDIANA UNIVERSITY BRANDING BAR AND FOOTER <HEAD> ELEMENTS -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
        <link href="{% static '_iu-brand/css/base.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static '_iu-brand/css/wide.css' %}" media="(min-width: 48.000em)" rel="stylesheet" type="text/css" />
        <!--[if (lte IE 8) & (!IEMobile)]>
            <link href="{% static '_iu-brand/css/fixed.css' %}" media="screen" rel="stylesheet" type="text/css" />
        <![endif]-->
        <!--[if IE 7]>
            <link href="{% static '_iu-brand/css/ie7.css' %}" rel="stylesheet" type="text/css" />
        <![endif]--> 
        <!--[if IE 6]>
            <link href="{% static '_iu-brand/css/ie6.css' %}" rel="stylesheet" type="text/css" />
        <![endif]-->
        <!-- END INDIANA UNIVERSITY BRANDING BAR AND FOOTER <HEAD> ELEMENTS -->

        <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{% static 'css/master.css' %}" type="text/css" media="screen" />
        <script src="{% static 'js/cufon.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/Aller_400.font.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/css_browser_select.js' %}" type="text/javascript"></script>
        <script type="text/javascript">
        Cufon.replace('h1, h2, h3');
        Cufon.replace('ul#nav li a', {
            hover: true
        });
        Cufon.replace('blockquote p');
        Cufon.replace('#mainSlider h3, .sliderParagraph');
        Cufon.replace('a.darkButton');
        </script>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>

        <script src="{% static 'js/jCarouselLite.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/functions.js' %}" type="text/javascript"></script>

        <!-- HTML5 Player -->
        <!--<link href="{% static 'css/video-js.css' %}" rel="stylesheet">
        <script src="{% static 'js/video.js' %}"></script>-->
        <link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
        <script src="http://vjs.zencdn.net/4.12/video.js"></script>
        <style type="text/css">
          .vjs-default-skin .vjs-play-progress,
          .vjs-default-skin .vjs-volume-level { background-color: #990000 }
        </style>
	{% block head %}{% endblock %}
    </head>
    <body>
        
        <!-- BEGIN INDIANA UNIVERSITY BRANDING BAR -->
        <div id="branding-bar">
        	<div class="bar">
                <div class="wrapper">
                    <p class="campus">
                        <a href="http://www.iub.edu/">
                            <img src="{% static '_iu-brand/img/trident-tab.gif' %}" height="73" width="64" alt=" " />
                            <span class="line-break">Indiana University</span> Bloomington
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <!-- END INDIANA UNIVERSITY BRANDING BAR -->
        
        <div id="topContainer">
          <div class="centerContainer"> <a href="/" class="logo fl"><img src="{% static 'img/logo.png' %}" alt="" /></a>
            <div id="contactInformationTop" class="fr">
              <ul>
                <li>
		  <p>Phone: 812-369-3142</p>
		</li>  
                <li>
                  <p>Email: <a href="#">iub3c@indiana.edu</a></p>
                </li>
                <li class="noBottomBorder">
                  <p class="fl">Follow Us:</p>
                  <ul class="fl" id="socialBW">
                    <li><a href="#"><img src="{% static 'img/social/twitter.png' %}" alt="Twitter" /></a></li>
                    <li><a href="https://www.facebook.com/groups/iub3c/" target="_blank" title="IUB3C Facebook Group"><img src="{% static 'img/social/facebook.png' %}" alt="Facebook" /></a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="menuContainer">
          <div class="centerContainer">
            <ul id="nav">
              <li><a href="/">Home<span>go to start</span></a></li>
              <li><a href="{% url 'about' %}">About<span>who we are</span></a></li>
              <li><a href="{% url 'events' %}">Events<span>what we do</span></a></li>
              <li><a href="{% url 'news' %}">News<span>what's happening</span></a></li>
              <li><a href="{% url 'gallery' %}">Gallery<span>what others did</span></a></li>
              <li><a href="{% url 'register' %}">Register<span>for a workshop</span></a></li>
              <li><a href="{% url 'contact' %}">Contact us<span>keep in touch</span></a></li>
            </ul>
          </div>
        </div>
        <div class="blankSeparator"> </div>
        {% block content %}{% endblock %}
        <div class="blankSeparator"> </div>
        <script type="text/javascript">Cufon.now();</script>
        
        <!-- BEGIN INDIANA UNIVERSITY FOOTER -->
        <div id="footer" role="contentinfo">
        	<div class="wrapper">
                <p class="internal"><a href="{% url 'credits' %}">Credits</a> - <a href="http://www.iu.edu/comments/privacy.shtml">Privacy Notice</a></p>
                <p class="copyright">
                    <a href="http://www.iu.edu/" class="block-iu"><img src="{% static '_iu-brand/img/block-iu.png' %}" height="26" width="22" alt="Block IU" /></a>
                    <span class="line-break">
                        <a href="http://www.iu.edu/copyright/index.shtml">Copyright</a> &#169; 
                        <script type="text/javascript">
                            var theDate=new Date()
                            document.write(theDate.getFullYear())
                        </script>
                    </span> 
                    <span class="line-break">The Trustees of <a href="http://www.iu.edu/">Indiana University</a>,</span> 
                    <span class="line-break"><a href="http://www.iu.edu/copyright/complaints.shtml">Copyright Complaints</a></span>
                </p>
            </div>
        </div>
        <!-- END INDIANA UNIVERSITY FOOTER -->
        
    </body>
</html>
